@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 100vh;
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}

.sidebar .logo-details .logo_name {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.sidebar .nav-links {
    margin-top: 16px;
}

.sidebar .nav-links li {
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li a i {
    color: #fff;
    min-width: 60px;
    text-align: center;
    font-size: 18px;
}

.sidebar .nav-links li .link_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

/* Home - Section */
.home-section {
    background: #f5f5f5;
    position: relative;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav {
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search-box {
    width: 550px;
    height: 50px;
    margin: 0 20px;
    position: relative;
}

nav .search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #F5F5FA;
    border: 2px solid #EDEEF1;
    outline: none;
}

nav .search-box .bx-search-alt-2 {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697FF;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

.home-section nav .profile-details {
    display: flex;
    height: 50px;
    min-width: 190px;
    background: #F5F5FA;
    border: 2px solid #EDEEF1;
    align-items: center;
    border-radius: 6px;
    padding: 0 15px 0 20px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px; 
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    color: #333;
    font-size: 25px;
}

.home-section .home-content {
    /* position: relative; */
    padding-top: 100px;
    padding-bottom: 20px;
    background: #ccc;
}

.home-section .overview-boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.home-section .overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px;
    background: #fff;
    width: calc(100%/4 - 15px);
    border-radius: 12px;
}

.home-section .overview-boxes .box_topic {
    font-size: 20px;
    font-weight: 500;
}

.home-section .overview-boxes .number {
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}

.home-section .overview-boxes .indicator {
    display: flex;
    align-items: center;
}

.home-section .overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}

.home-section .overview-boxes .indicator .text {
    font-size: 12px;
}

.overview-boxes .box .cart {
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}

.overview-boxes  .box .cart.two {
    background: #3ce7ae;
    color: #50b3f5;
}

.overview-boxes  .box .cart.three {
    background: #ffe8b3;
    color: #ffc233;
}

.overview-boxes  .box .cart.four {
    background: #3c5be7;
    color: #50e73c;
}

.home-pie {
    padding: 20px;
    background: #f0e9e9;
}

.home-pie img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}