* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user {
    padding-top: 80px;
    width: 100%;
    height: 80vh;
}


.user > h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    background: #1f58c3;
    padding: 10px 30px;
    color: #fff;
}

.user > form {
    width: 100%;
    height: 80%;
    background: #ddd;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user > form > input {
    width: 60%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.btn-submit {
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: green;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}

.btn-submit:hover {
    cursor: pointer;
    opacity: 0.8;
} 


/* .user form input {
    width: ;
} */